<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="small" id="header-scroll">
    <h1><a href="#">TWENTY KIWI</a></h1>
    <nav>
      <ul>
        <li><a href="#1">Home</a></li>
        <li><a href="#2">Services</a></li>
        <li><a href="#3">Careers</a></li>
        <li><a href="#4">About Us</a></li>
        <li><a href="#5">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
<section id="1">
  <div align="center">
    <h2>We Create Awesome Stuff</h2>
    <div class="card">
      <img src="./assets/img1.jpg" alt="Avatar" style="width:100%">
      <div class="container" align="left">
        <p>TwentyKiwi is an app and game development company that make your business and idea a touch away on iphones , Android and ipads. We develop creative and customer centric mobile apps to give your users and customers a ceaseless friendly experience. Our proficient developers and passionate designers turn you unfashioned ideas into user-satisfying products. Without limiting ourselves, we match your energy and serve worldwide. Let’s discuss your ideas.Architect & Engineer</p> 
        <a href="#"><b>GET STARTED ></b></a>
      </div>
    </div>
  </div>
  <div>
    <div class="subcards">
      <img src="./assets/gamedev.jpg" alt="Game Development" style="width:100%">
      <div class="subcontainers">
        <h2>Game Development</h2>
        <p>TwentyKiwi is creating a range of cross platform games  for mobile, web and desktop. We offer end-to-end solutions for those looking to hire game development companies experienced in LibGDX and Android SDK.</p>
      </div>
    </div>
    <div class="subcards">
      <img src="./assets/appdev.jpg" alt="Game Development" style="width:100%">
      <div class="subcontainers">
        <h2>Application Development</h2>
        <p>Our App developers have expertise in developing apps for iPhone and Android. Hire our team of most cost effective developers that has been developed top class Apps. You can hire our developers as full time, part time and at fixed cost to achieve sustainable growth for your organization.</p>
      </div>
    </div>
    <div class="subcards">
      <img src="./assets/videoedit.jpg" alt="Game Development" style="width:100%">
      <div class="subcontainers">
        <h2>Video Editing</h2>
        <p>TwentyKiwi Video Editing Services can give an extra dimension to your Videos through its Professional  Video Editing Services. Here we provide Cost-effective video editing services, Better Understanding of the customers need, Delivery of the finished product within the stipulated time frame, High quality work.</p>
      </div>
    </div>
  </div>
</section>

